django-countries
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-seed
dj-database-url
django-cockroachdb
django-on-heroku
Pillow
psycopg2
psycopg2-binary
python-dotenv
whitenoise
pytest-django
gunicorn
six
paypal-checkout-serversdk
black
drf_yasg
pre-commit
pip-tools
pytest-dotenv
reorder-python-imports
