*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.card-div {
  font-family: "Roboto", sans-serif;
  color: #2c2c51;
  display: flex;
  margin: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card {
  height: 150px;
  width: 100%;
  margin: 10px;
  position: relative;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  box-shadow: 7px 7px 15px rgba(2, 28, 53, 0.08);
  cursor: pointer;
  outline: none;
}
input[type="radio"]:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #f9fafd;
  border: 1px solid #e2e6f3;
  border-radius: 50%;
  top: 35px;
  right: 20px;
}
input[type="radio"]:after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-radius: 50%;
  top: 39.5px;
  right: 24.5px;
}
h5 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px 0;
}
h2 {
  font-size: 28px;
}
span {
  font-weight: 400;
  font-size: 18px;
  color: #7b7b93;
}
input[type="radio"]:hover {
  background-color: #f3f4f7;
}
input[type="radio"]:checked {
  border: 3px solid #478bfb;
}
input[type="radio"]:checked:after {
  background-color: #478bfb;
}
